<div>
    <app-widget-area [data]="bigChart"></app-widget-area>
    <!-- <app-widget-area ></app-widget-area> -->
</div>

<br>

<mat-divider></mat-divider>

<br>

<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="stats-cards">
    <mat-card fxFlex="25">
        <app-widget-card label="Newly Infected" total="15k" percentage="60" [data]="cards"></app-widget-card>
    </mat-card>
    <mat-card fxFlex="25">
        <app-widget-card label="Cured" total="15k" percentage="30" [data]="cards"></app-widget-card>
    </mat-card>
    <mat-card fxFlex="25">
        <app-widget-card label="No of Deaths" total="5k" percentage="40" [data]="cards"></app-widget-card>
    </mat-card>
    <mat-card fxFlex="25">
        <app-widget-card label="Under Treatment" total="6k" percentage="20" [data]="cards"></app-widget-card>
    </mat-card>
    
</div>

<br>

<mat-divider></mat-divider>

<br>

<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
    <div fxFlex="60">Table</div>
    <div fxFlex="40">
     <app-widget-pie [data]="pieChart"></app-widget-pie>
    </div>
</div>

